<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
          http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context.xsd
          http://www.springframework.org/schema/tx
          http://www.springframework.org/schema/tx/spring-tx.xsd
          http://www.springframework.org/schema/task
          http://www.springframework.org/schema/task/spring-task.xsd
          http://www.springframework.org/schema/cache
          http://www.springframework.org/schema/cache/spring-cache.xsd">

    <import resource="databaseContext.xml"/>
    <import resource="classpath*:/serviceContext.xml" />

    <context:component-scan base-package="se.vgregion.glasogonbidrag.backingbean"/>
    <context:component-scan base-package="se.vgregion.glasogonbidrag.navigation"/>
    <context:component-scan base-package="se.vgregion.glasogonbidrag.util"/>
    <context:component-scan base-package="se.vgregion.glasogonbidrag.validator"/>

    <context:annotation-config/>

    <bean class="org.springframework.beans.factory.config.CustomScopeConfigurer">
        <property name="scopes">
            <map>
                <entry key="view">
                    <bean class="se.vgregion.glasogonbidrag.jsf.ViewScope"/>
                </entry>
            </map>
        </property>
    </bean>

    <tx:annotation-driven />

</beans>
